.body > div > form,
.body > div > div {
  text-align: left;
  width: 320px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 30px 50px;
  box-shadow: 0px 4px 16px 0px #cbd2d9;
}
input {
  border: 1.4px solid #cbd2d9;
  border-radius: 4px;
  padding: 5px 10px;
  outline: 0;
  width: 100%;
}
.Required {
  border-color: #ff0b37;
  background-color: #fef2f4;
}
label {
  align-self: flex-start;
  font-size: 12px;
  font-weight: bold;
  color: #475569;
  margin: 5px 0;
}
form > p {
  font-weight: bold;
  font-size: 10px;
  margin: 2px 0 10px 0;
  color: #ff0b37;
  align-self: flex-start;
}
button {
  width: fit-content;
  padding: 8px 10px;
  background-color: #ea580c;
  color: white;
  border: none;
  align-self: center;
  border-radius: 10px;
  cursor: pointer;
}
.body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.body > div > h1 {
  color: #ea580c;
}
.successDiv > img {
  height: 80px;
  max-width: fit-content;
}
.successDiv > p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .body > div > form,
  .body > div > div {
    box-shadow: none;
    width: 100vw;
  }
}
